/* Add CSS styling here */


/* CSS reset (Meyer's) */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    /*border: 1px solid gray;*/
}


/* General Styles */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.5rem;
    font-family: 'Rufina', serif;
}

h1 {
    font-size: 4rem;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 50%;
    transform: scale(1.1)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* header styles */

div.header {
    margin: 25px;
    padding: 10px;
    width: 100%;
}

.headerTag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
}

nav a {
    color: #000;
    margin: 10px 0;
    padding: 4px 15px;
    border: 2px solid #000;
    border-radius: 10px;
}


/* index.html styles */


/* bio section styles */

div.bio {
    margin: 0 auto 10px auto;
}

section.bio {
    display: flex;
    justify-content: space-between;
}

div.bio section.bio div.photo img {
    width: 100%;
    height: 100%;
}

div.info {
    margin: 10px 2%;
    padding: 20px 2% 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.info h2 {
    font-size: 2.2rem;
}

div.info a {
    color: #000;
    margin: 10px 0;
    padding: 4px 15px;
    border: 2px solid #000;
    border-radius: 10px;
    align-self: flex-start;
}


/* project gallery styles */

div.projectGallery {
    margin: 10px auto;
}

section.gallery {
    display: flex;
    flex-wrap: wrap;
}

.projectGallery .project {
    margin: 2px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.projectGallery hr {
    border: 1px dotted #000;
    width: 90%;
}


/* footer styles */

div.footer {
    width: 25%;
    height: 10vh;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

div.footer footer {
    display: flex;
    flex-direction: column;
}

div.footer footer div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.footer footer h3 {
    font-size: 3rem;
}

div.footer footer a {
    color: #000;
}